/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Body mody */
body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: url(assets/leaf.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Sofia';
  font-size: 18px
}

/* Flag mody */
.flag {
  height: 30px;
  width: 30px;
  }

/* Profile Card editing */
.portfolio {
  width: 500px;
  max-width: calc(100vw - 10px);
  background-color: rgba(60, 60, 60, .9);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .9) 15px 10px 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  padding: 15% 15%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

.head, .about {
  margin-bottom: 10%;
  text-align: center;
}

.about {
  padding: 5%;
}

.links {
  text-align: center;
}

.profile-picture {
  margin-top: -30px;
  width: 120px;
  height: 120px;
  border-radius: 30%;
  padding: 3px;
  background-color: darkgray;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

h1 {
  font-size: 35px
}

a {
  color: rgba(0,0,0,.7);
}

a:hover {
  color: darkolivegreen;
}